<html>

    <head>

    <style>
        html {
            color: white;
            background-image: url("https://phonoteka.org/uploads/posts/2021-05/1620203343_9-phonoteka_org-p-fon-dlya-zuma-tyurma-11.png");
        }
        p{
            font-size: 2em;
        }

    </style>
    </head>
    <body>
      <form action = "http://localhost:5000/out" method = "post">
         <p>Введите имя преступника!:</p>
         <p><input type = "text" name = "item" /></p>
         <p><input type = "submit" value = "Найти гниду" /></p>
      </form>
   </body>
</html>